.product{
    display: flex;
}
.product-details{
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 20px;
    color: blue;
}
.main-button{
    background-color:goldenrod;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}